<h1>Categories</h1>

<ul>
{{#each models}}
  <li>
    <!-- <a href="/categories/{{id}}">{{trName}}</a> -->
  	<a href="/items?categoryId={{id}}&location={{../params.location}}">{{trName}}</a>
  </li>
{{/each}}
</ul>